:root {
  --col1: rgb(255, 255, 255);
  --col2: rgb(240, 240, 240);
  --col3: rgb(200, 200, 200);
  --t1: rgb(75, 75, 75);
  --m1: rgb(100, 225, 125);
  --m2: rgb(230, 255, 230);
  --m3: rgb(0, 150, 0);
  --tr: rgba(0, 200, 50);

  --mont: "Montserrat", sans-serif;
  --poi: "Poiret One", sans-serif;
  --jur: "Jura", sans-serif;
  --syn: "Syncopate", sans-serif;
}
* {
  transition: 0.5s;
}
body,
html {
  background: var(--col1);
  font-family: var(--mont);
  scroll-behavior: smooth;
}
input,
textArea,
button {
  outline: none;
  font-family: var(--font);
  color: var(--colt);
}
textarea {
  resize: vertical;
  transition: 0s;
}
button:hover,
[type="submit"]:hover {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: var(--poi);
}
a {
  text-decoration: none;
  color: rgb(0, 150, 255);
}
p {
  padding-left: 10%;
  padding-right: 10%;
}

.ni {
  margin-top: 5px;
}
.ni > input {
  margin-left: 10px !important;
  width: calc(80% - 45px) !important;
}
.ni > svg {
  margin-left: 10%;
  color: var(--t1);
}
.ni > svg:hover {
  cursor: pointer;
}
.flex-wrapper {
  display: flex;
}
.log-form {
  width: 50%;
  max-width: 400px;
  min-width: 240px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--col1);
}
.form-label {
  margin-left: 5%;
}
.form-control > input,
.form-input {
  margin-left: calc(10% - 5px);
  width: 80%;
  border: none;
  background: var(--col1);
  border-radius: 10px;
  padding: 5px;
  outline: none;
  display: block;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
textArea:focus,
.form-control > input:focus,
.form-input:focus {
  transition: 0.25s;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 175, 50, 0.5),
    0 0 0 4px rgba(50, 200, 100, 0.5);
}
.selected {
  background: var(--m2);
  box-shadow: inset 0 -2px 0 0 var(--m1);
}
.nav-tab {
  color: var(--t1);
  height: 26px;
  padding: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.nav-link > a {
  color: var(--t1);
  font-size: 20px;
  margin: 0 20px;
}
.nav-tab:hover {
  box-shadow: inset 2px 0px 0 0 var(--m1), inset -2px 0px 0 0 var(--m1);
  background: var(--m2);
  transition: 0.5s;
}
.alt {
  display: none;
}
.sc {
  display: none !important;
}
.clickable:hover {
  cursor: pointer;
}
.nav-in {
  display: block;
  opacity: 1;
}
.nav-out {
  display: none;
  opacity: 0;
}
.btn-in {
  left: 220px;
  transform: rotate(720deg);
  transition: 0.5s ease-in;
}
.btn-out {
  left: -220px;
  transform: rotate(0deg);
  transition: 0.5s ease-in;
}
.form-submit > input {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  width: 80%;
  background: rgb(0, 175, 50);
  border: solid rgb(0, 150, 0) 1px;
  border-radius: 5px;
  color: var(--col1);
  font-weight: bold;
  font-size: 15px;
  outline: none;
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: auto;
  justify-content: center;
}
.image {
  border-radius: 10px;
  z-index: 1;
}
.image > img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.col {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}
.col > * {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.image:hover {
  cursor: zoom-in;
  transition: 0.5s;
}
.stats {
  margin-left: 10px;
  margin-top: -40px;
  color: var(--m1);
  display: flex;
}
.stats > form > button > svg {
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0, 0.5));
  margin: 2.5px;
}
.hide-sub {
  border: none;
  background: transparent;
  padding: 0;
}
.comment {
  width: 80%;
  padding: 10px;
  margin: 20px 10%;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: var(--col1);
}
.comment > p {
  padding-left: 5%;
  padding-right: 5%;
}
.stat {
  margin: 0 10px;
  font-size: 20px;
}
.stat > svg {
  width: 20px;
  transform: translatey(6px);
}
.notif {
  background: var(--col1);
  font-size: 15px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 700px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  text-align:center;
}
.notif > a > svg{
  position: relative;
  top: 5px;
  width: 17px;
}
.read-notif{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background:var(--col1);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
  border:none;
  transform: translate(10px, 5px)
}
.read-notif > svg{
  width: 20px;
  transform: translate(-3px, 0px);
  color: var(--m3);
}

#no-read{
  color:var(--col3);
  text-align:center;
  display:none;
}
#stat-like:hover,
#stat-bookmark:hover {
  cursor: pointer;
}
#i-stats {
  position: relative;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: flex;
  left: 50%;
  transform: translatex(-50%);
}
#search-parent {
  border: none;
  background: var(--col1);
  border-radius: 10px;
  padding: 5px;
  outline: none;
  display: block;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  border-radius: 5px;
}
#msg-img {
  position: relative;
  left: 35%;
  width: 30%;
}
#message {
  width: 50%;
  min-width: 240px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--col1);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  padding: 20px;
}
#nav-close {
  width: 30px;
  height: 27.5px;
  text-align: center;
  padding-top: 2.5px;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  color: var(--t1);
  position: fixed;
  top: 110px;
  background: var(--col1);
}
#nav-close:hover {
  cursor: pointer;
}
#navbar {
  width: 100%;
  height: 100px;
  background: var(--col1);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  z-index: 20;
}
#logo-title {
  font-family: var(--syn);
  display: none;
}
#logo-title > a {
  color: var(--t1);
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
}
#logo-parent {
  display: flex;
}
#logo {
  width: 40px;
  margin: 5px;
  margin-top: 7px;
}
#logo-name {
  font-family: var(--syn);
  font-weight: bold;
  color: black;
  font-size: 20px;
  margin-top: 17.5px;
}
#nav-links {
  position: fixed;
  right: 0;
  top: 15px;
  height: 50px;
  display: flex;
}
#search {
  min-width: 100px;
  border: none;
  font-family: var(--mont);
  font-size: 15px;
  background: var(--col1);
  transform: translate(0, -10px);
}
#search-submit {
  font-size: 13px;
  border: none;
  transform: translate(-5px, -4px);
  color: var(--t1);
  background: transparent;
}
#nav-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
}
#menu-button {
  position: fixed;
  left: 60px;
  top: 15px;
  color: var(--t1);
  display: none;
}
#full-body {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  background: var(--col1);
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
#error {
  position: fixed;
  left: 0;
  bottom: 0;
  color: var(--col1);
  background: rgb(225, 50, 0);
  width: 100%;
  padding: 5px;
  font-size: 15px;
}
#error > span {
  position: relative;
  bottom: 4px;
  margin-left: 10px;
}
#error > svg {
  position: relative;
  top: 3px;
}
#error:hover {
  cursor: pointer;
}
#loader {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  width: 50%;
  min-width: 200px;
  max-width: 800px;
  display: none;
}
#load-bar {
  height: 5px;
  border-radius: 10px;
  background: var(--m2);
  overflow: hidden;
}
#prog {
  background: var(--m1);
  width: 0px;
  border-radius: 10px;
  height: 5px;
  animation: ease-in-out load 2s infinite;
  position: absolute;
}
#file-wrap {
  border: dashed rgb(200, 200, 200) 1px;
  border-radius: 15px;
  padding: 50px 20px;
}
#cf,
#copy {
  margin: auto;
  background: var(--m1);
  color: var(--col1);
  border-radius: 10px;
  text-align: center;
  display: block;
  padding: 10px;
  max-width: 100px;
  border: none;
}
#cf:hover,
[type="submit"]:hover {
  cursor: pointer;
}
#or {
  margin: 10px 0;
}
#background-cover {
  width: 80%;
  height: 80%;
  max-width: 900px;
  background: var(--col1);
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translatex(-50%);
  box-shadow: 0 0 0 1200px rgba(0, 0, 0, 0.25),
    2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow-y: auto;
}
#image-col-left {
  position: relative;
  left: 0;
  top: 0;
  height: auto;
  width: calc(50% - 40px);
  padding: 20px;
}
#image-col-right {
  position: absolute;
  left: 50%;
  top: 0;
  height: calc(100% - 40px);
  width: calc(50% - 40px);
  padding: 20px;
}
#image-col-bottom {
  left: 0;
  height: auto;
  width: calc(100% - 40px);
  padding: 20px;
}
#image-wrapper {
  background: transparent;
  border-radius: 10px;
  display: flex;
  max-height: calc(100% - 100px);
}
#image-wrapper > img {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}
#image-wrapper > img:hover {
  cursor: pointer;
  transition: 0.25s;
  transform: rotatey(10px);
}
#new-notif {
  background: var(--m1);
  width: 5px;
  height: 5px;
  border: solid 2px var(--col1);
  border-radius: 50%;
  transform: translate(-31px, 2px);
}

@keyframes load {
  0% {
    left: 20px;
    width: 0px;
  }
  25% {
    width: calc(100% - 40px);
    left: 20px;
  }
  50% {
    left: calc(100% - 20px);
    width: 0px;
  }
  100% {
    left: 20px;
    width: 0px;
  }
}

/*
@media (max-width: 780px) {
  .def {
    display: none;
  }
  .alt {
    display: block;
  }
  .nav-tab {
    font-size: 12px;
  }
}
@media (max-width: 620px) {
  #logo-title {
    display:  block;
    position: relative;
    top: -15px;
  }
  #logo-name {
    display: none;
  }
  #nav-tabs {
    width: 200px;
    min-height: 200px;
    background: var(--col2);
    overflow-y: auto;
    display: block;
    position: relative;
    top: 44px;
  }
  .nav-tab {
    padding: 7.5px 5px 7.5px 20px;
    height: auto;
  }
  #menu-button {
    display: block;
  }
  .nav-in {
    opacity: 1;
    left: 0;
    transition: 0.5s ease-in;
  }
  .nav-out {
    left: -200px;
    opacity: 0;
    transition: 0.5s ease-in;
  }
}
@media (max-width: 520px) {
  #search-form {
    display: none;
  }
  .sc {
    display: block !important;
  }
}
@media (max-width: 340px) {
  .nav-link > a {
    margin: 0 12.5px;
  }
  #menu-button {
    left: 55px;
  }
}
@media (max-width: 320px) {
  #nav-tabs {
    width: 100%;
  }
}*/

@media (max-width: 1015px) {
  .def {
    display: none;
  }
  .alt {
    display: block;
  }
  .nav-tab {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  #logo-title {
    display: block;
    position: relative;
    top: -15px;
  }
  #logo-name {
    display: none;
  }
  #nav-tabs {
    width: 200px;
    min-height: 200px;
    background: var(--col2);
    overflow-y: auto;
    display: block;
    position: relative;
    top: 44px;
  }
  .nav-tab {
    padding: 7.5px 5px 7.5px 20px;
    height: auto;
  }
  #menu-button {
    display: block;
  }
  .nav-in {
    opacity: 1;
    left: 0;
    transition: 0.5s ease-in;
  }
  .nav-out {
    left: -100%;
    opacity: 0;
    transition: 0.5s ease-in;
  }
  #background-cover {
    width: 100%;
  }
}
@media (max-width: 650px) {
  #search-form {
    display: none;
  }
  .sc {
    display: block !important;
  }
  #image-col-left {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: auto;
  }
  #image-col-right {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: auto;
  }
  #image-col-bottom {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: auto;
  }
  p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .nav-link > a {
    margin: 0 12.5px;
  }
  #menu-button {
    left: 55px;
  }
  #new-notif {
    transform: translate(-23px, 2px);
  }
}
@media (max-width: 380px) {
  .nav-link > a {
    margin: 0 7.5px;
  }
  #nav-tabs {
    width: 100%;
  }
  .btn-in {
    left: calc(100% - 30px);
    margin-top: -10px;
    transform: rotate(720deg);
    transition: 0.5s ease-in;
    border-radius: 50% 0 50% 50% !important;
  }
  #new-notif {
    transform: translate(-18px, 2px);
  }
}
@media (max-width: 320px) {
  .nav-link > a > svg {
    width: 17px;
  }
  #new-notif {
    transform: translate(-15px, 4px);
    width: 3px;
    height: 3px;
  }
}

@media screen and (max-width: 600px) {
  .col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-left: solid var(--col1) 1px;
}
::-webkit-scrollbar-thumb {
  background: var(--col3);
  border-left: solid var(--col1) 1px;
}
